<hr/>
<h2>Add/edit form</h2>
<form novalidate name="songForm" >
  Name: <input type="text" name="title" ng-model="editingSong.title"
    ng-minlength="2">&nbsp;
  <span ng-bind="editingSong.title.length"></span>
  <span class="error" ng-show="!songForm.title.$valid"> Name must be 2 characters or more</span>
  <br/>
  Genre: <select ng-model="editingSong.genre">
    <option ng-repeat="eachGenre in genreList">{{ eachGenre }}</option>
  </select>
  <br/>
  <input type="hidden" ng-bind="editingIndex" />
  <input type="submit" ng-click="saveSong(editingSong, editingIndex)"
    ng-disabled="songForm.$invalid" value="Save" />
  <br/>
</form>
