<ul class="multi-performances">
  <li>
    <ul>
      <li>
        <h3>Artist</h3>
      </li>
      <li>
        <h3>Song</h3>
      </li>
      <li>
        <h3>Genre</h3>
      </li>
      <li>
        <h3>Controls</h3>
      </li>
    </ul>
  </li>
  <li *ngFor="let performance of performances">
    <ul class="performance-component" >
      <li>
        <artist [artist]="performance.artist" [editMode]="performance.editMode"></artist>
      </li>
      <li>
        <song [song]="performance.song" [editMode]="performance.editMode"></song>
      </li>
      <li>
        <div>{{ performance.genreName }}</div>
      </li>
      <li>
        <button 
          (click)="toggleEditMode( performance )"
          [disabled]="componentEditMode === true && performance.editMode === false"
        >
          <ng-container [ngSwitch]="performance.editMode === true">
            <ng-container *ngSwitchCase="true">
              Done
            </ng-container>
            <ng-container *ngSwitchCase="false">
              Edit
            </ng-container>
          </ng-container>
        </button>
      </li>
    </ul>
  </li>
  <li>
    <form
      *ngIf="addingPerformance === true"
      (ngSubmit)="submitPerformance()"
    >
      <style>
        input.ng-dirty {
          border: 3px solid green;
        }
        input.ng-invalid {
          border: 3px solid red;
        }
        span.artist-name-invalid {
          color: red;
        }
      </style>
      <label>Artist*</label>
      <input 
        required 
        type="text"
        [(ngModel)]="newPerformance.artist.artistName"
        name="artistName"
        #artistNameInput="ngModel"
      >
      <span class="artist-name-invalid" [hidden]="artistNameInput.valid || artistNameInput.pristine">
        Artist name is required
      </span>
      <label>Song*</label>
      <song [song]="newPerformance.song" [editMode]="true"></song>
      <label>Genre*</label>
      <button type="submit">Submit</button>
    </form>
    <button 
      (click)="addPerformance()"
      [disabled]="componentEditMode === true && addingPerformance === false"
    >
      <ng-container [ngSwitch]="addingPerformance === true">
        <ng-container *ngSwitchCase="true">
          Cancel
        </ng-container>
        <ng-container *ngSwitchCase="false">
          Add one
        </ng-container>
      </ng-container>
    </button>
  </li>
</ul>
