<h2>Directives example</h2>
<div style="background-color: {{ songsBgColor }}">
  <label for="songsBgColorInput">CSS Color</label>
  <input name="songsBgColorInput" ng-model="songsBgColor"></input>
  <span ng-bind="songsBgColor"> one two one too </span>
</div>
<div>
  <label for="songsList">Comma delimited list of numbers</label>
  <input name="songsList" ng-list ng-model="songsList"></input>
  <ul> 
    <li ng-repeat="song in songsList track by $index"
      ng-init="product = ( song * $index )">
      {{ song }}: {{ product }}
    </li>
  </ul>
</div>
