<h2>Songs Template</h2>
<table>
  <tr>
    <!-- TODO: maybe not the best example of iterating object props -->
    <th ng-repeat="(songsListKey, songsListValue) in songsList.songs[0]">
      {{ songsListKey }}
    </th>
  </tr>
  <tr ng-repeat="song in songsList.songs track by $index">
    <td>
      <span ng-show="!song.editMode"> {{ song.artist | uppercase }}
      </span>
      <input ng-show="song.editMode" ng-model="song.artist"></input>
    </td>
    <td>
      <span ng-show="!song.editMode" ng-bind-html="song.title">
      </span>
      <input ng-show="song.editMode" ng-model="song.title"></input>
    </td>
    <td>
      <span ng-show="!song.editMode">
        {{ song.genre }}
      </span>
      <input ng-show="song.editMode" ng-model="song.genre"></input>
    </td>
    <td>
      <button ng-click="song.editMode = !song.editMode">
        <span ng-show="!song.editMode">Edit</span>
        <span ng-show="song.editMode">Done</span>
      </button>
    </td>
  </tr>
</table>
<button  ng-if="!songsList.newSong" ng-click="songsList.startNewSong();">New song</button>
<form name="newSongForm" ng-if="songsList.newSong">
  <input name="artist" ng-model="songsList.newSong.artist" ng-minlength=2 ng-pattern="/^[^<]*$/" required></input>
  <input name="title" ng-model="songsList.newSong.title" ng-minlength=2 required></input>
  <span>form valid: {{ newSongForm.$valid }}</span>
  <button ng-click="songsList.finishNewSong();" ng-disabled="!newSongForm.$valid">Finish song</button>
</form>
