<h2>Songs Template</h2>
<table>
  <tr>
    <!-- TODO: maybe not the best example of iterating object props -->
    <th ng-repeat="(songsListKey, songsListValue) in songsList.songs[0]">
      {{ songsListKey }}
    </th>
  </tr>
  <tr ng-repeat="song in songsList.songs">
    <td>
      <span ng-show="!song.editMode">
        {{ song.artist }}
      </span>
      <input ng-show="song.editMode" ng-model="song.artist"></input>
    </td>
    <td>
      <span ng-show="!song.editMode">
        {{ song.title }}
      </span>
      <input ng-show="song.editMode" ng-model="song.title"></input>
    </td>
    <td>
      <span ng-show="!song.editMode">
        {{ song.genre }}
      </span>
      <input ng-show="song.editMode" ng-model="song.genre"></input>
    </td>
    <td>
      <button ng-click="song.editMode = !song.editMode">
        <span ng-show="!song.editMode">Edit</span>
        <span ng-show="song.editMode">Done</span>
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <button ng-click="songsList.songs.push( { editMode: true } )">Add song</button>
    </td>
  </tr>
</table>
