<h2>Songs Template</h2>
<table>
  <tr ng-repeat="song in songsList.songs">
    <td>
      <span ng-show="!song.editMode">
        {{ song.artist }}
      </span>
    </td>
    <td>
      <span ng-show="!song.editMode">
        {{ song.title }}
      </span>
    </td>
    <td>
      <span ng-show="!song.editMode">
        {{ song.genre }}
      </span>
    </td>
    <td>
      <button ng-click="song.editMode = !song.editMode">
        <span ng-show="!song.editMode">Edit</span>
        <span ng-show="song.editMode">Done</span>
      </button>
    </td>
  </tr>
</table>
