<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Intro to Angular</title>
    <script src="node_modules/angular/angular.js"></script>
    <script>
      angular.module('our-app', []);
      angular.module('our-app')
        .controller('SongEditController', function($scope) {
          $scope.blankSong = { name: '---', genre: '---'};
          $scope.songsList = []
          $scope.update = function (song) {
            $scope.songsList.push( angular.copy(song));
          }
        });
    </script>
  </head>
  <body ng-app="our-app">
    <h1>{{ "Angular Template" | lowercase | uppercase }}</h1>
    <div ng-controller="SongEditController">
      <form novalidate>
        Name: <input type="text" ng-model="song.name">&nbsp;<span ng-bind="song.name.length"></span><br/>
        Artist: <input type="text" ng-model="song.artist">&nbsp;<span ng-bind="song.artist.length"></span><br/>
        Genre: <select ng-model="song.genre">
          <option>Blues</option>
          <option>Country</option>
          <option>Jazz</option>
          <option>Rock</option>
        </select>
        <input type="submit" ng-click="update(song)" value="Save" />
        <br/>
      </form>
      <p>Result: {{ songsList }} </p>
    </div>
  </body>
</html>
